.Subtitle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.Subtitle > div{
    max-width: 36rem;
    align-self: center;
}