.ProjectBlock{
    display: flex;
    padding: 2rem;
    flex-direction: row;
    align-items: flex-start;
    gap: 3rem;
    align-self: center;
    justify-content: space-between;
    border-radius: 0.75rem;

    background: var(--gray-default, #FFF);

    /* Drop Shadow/md */
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.06), 0px 4px 3px 0px rgba(0, 0, 0, 0.07);
}

.ProjectLogo img{
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    width: 24rem;
    border-radius: 0.75rem;

}

.even{
    flex-direction: row-reverse;
}

@media  screen and (max-width: 992px) {
    .ProjectBlock{
        flex-direction: column;
        align-items: center;
        gap:1rem;
        width: 100%;
    }
    
}
@media screen and (max-width:688px) {
    .ProjectBlock{
        padding: 0.75rem;
    }
    .ProjectLogo{
        width: 14rem;
    }
    .ProjectLogo img{
        max-width: 100%;
        object-fit: cover;
    }
}